<%- include('./partials/head') %>
<main>
    <h1>Pagina para criar produto</h1>
    <form action="/product/create" method="post">
        <input type="text" name="nome" placeholder="Nome do produto"><br><br>
        <input type="number" name="preco" placeholder="Preço do produto"><br><br>
        <input type="text" name="tamanho" placeholder="Tamanho"><br><br>
        <% if(locals.error){ %>
        <h3><%= error.message %></h3>
        <% } %>
        <button type="reset">limpar</button>
        <button type="submit">Adicionar produto</button><br>
        <a href="/product"><h3>Home Produtos</h3></a>
        
    </form>
</main>
<%- include('./partials/footer') %>